[Unit]
Description=Buildbot Slave
Wants=network.target
After=network.target

[Service]
Type=forking
Environment=PATH=/usr/bin:/usr/sbin
PIDFile=/var/lib/buildslave/twistd.pid
WorkingDirectory=/var/lib/buildslave
ExecStart=/usr/bin/buildslave start
ExecReload=/usr/bin/buildslave restart
ExecStop=/usr/bin/buildslave stop
Restart=always
User=buildslave

[Install]
WantedBy=multi-user.target
